@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bad+Script&family=Press+Start+2P&display=swap');

*{
    overflow-x: hidden;
}

body {
    overflow-x : hidden;
    margin     : 0;
    user-select: none;

}

.line {
    transition: all 250ms;
    width     : 100vw;
    height    : 0.5vh;
    color     : white;
    background: white;
    margin    : 20vh 0;
}

.lineToLeft {
    animation: lineToLeft 2s infinite;
}

.lineToRight {
    animation: lineToRight 2s infinite;

}

@keyframes lineToLeft {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-100vw);

    }
}

@keyframes lineToRight {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(100vw);

    }
}

.background_float {
    position: fixed;
    width   : 100vw;
    height  : 100vh;

}

.container__wrapper-menu {
    display         : flex;
    flex-direction  : column;
    background      : url(./img/emblem_fox.png) center center no-repeat;
    /* transform    : scale(1.5); */
    height          : 100vh;
    justify-content : center;
    align-items     : center;
    background-color: black;
}

.content_autor {
    transition: all 250ms;
    color      : white;
    font-size  : 5vw;
    position   : absolute;
    top        : 8vh;
    font-family: 'Amatic SC';
    font-weight: 700;
    animation: pulse 4s linear infinite;
}

.content_autor:hover{

}

@keyframes pulse{
    25%{
        transform: scale(0.9);
        }
        50%{
            transform: scale(1);

        }
        75%{
            transform: scale(1.1);
        }
       
}

@media all and (max-width: 600px) {
    .content_autor {
        font-size: 12vw;
    }
}

.container__top-menu {
    width          : 100vw;
    display        : flex;
    justify-content: center;
    align-items    : center;
}


.top-menu {
    transition      : all 250ms;
    margin-right    : 1vw;
    font-family     : 'Amatic SC';
    font-size       : 3vw;
    background-color: whitesmoke;
    padding         : 0 0.5vw;
    border-radius   : 5px;
}



.top-menu:active {
    background-color: yellowgreen !important;

}

.top-menu:nth-of-type(3) {
    background-color: red;

}

.top-menu:nth-of-type(3):hover{
    transform: translateY(-7vh);

}

.top-menu:hover {
    background-color: yellow;
transform: scale(0.9);
}

@media all and (max-width: 600px) {
    .top-menu {
        font-size: 8vw;
    }
}

.container__resume {
    background     : url(./img/bg-resume.png)center center no-repeat;
    background-size: cover;
    height         : 100vh;
}


.container__portfolio {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white  ;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
@media all and (max-width:600px){
    .container__portfolio{
        height: 40vh;
    }
}

.portfolio__slide {
    transition: all 500ms;
    display: flex;
    opacity: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size:3vw ;
    background-color:black;
    margin-top: 15vh;
    margin-bottom: 15vh;
    position: absolute;
}

@media all and (max-width:600px){
    .portfolio__slide{
        margin-top: 10vh;
        
    }
}


.container__blog {}


.container__contacts {}